<a href="https://colab.research.google.com/github/SushanthMorsu/Innomatics-AdvancedGenAI-Tasks/blob/main/Logic_Building_Task_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Unique Words in a Sentence**

In [1]:
def unique_words(sentence):
  words = list(sentence.split())
  unique_words = set(words)
  return unique_words

sentence = "python is easy and python is powerful"
result = unique_words(sentence)
print("Unique words count:", len(result))
print("Unique words:", result)

Unique words count: 5
Unique words: {'easy', 'is', 'python', 'and', 'powerful'}

**Highest Salary from Employee Data**

In [2]:
def highest_salary_emp(employees):
  highest_salary = 0
  highest_earner_name = None
  for name, salary in employees.items():
    if salary > highest_salary:
      highest_salary = salary
      highest_earner_name = name
  return highest_earner_name, highest_salary

employees = {
    "Ravi": 75000,
    "Anita": 68000,
    "Kiran": 72000
}
name, salary = highest_salary_emp(employees)
print(f"Highest Salary: {name} - {salary}")

Highest Salary: Ravi - 75000

**3. Find Maximum and Minimum Values**

In [3]:
def find_max_min(numbers):
  max = numbers[0]
  min = numbers[0]
  for num in numbers:
    if num > max:
      max = num
    elif num < min:
      min = num
  return max, min

numbers = [45, 22, 89, 10, 66]
print(f"List: {numbers}")
max, min = find_max_min(numbers)
print(f"Max: {max} \nMin: {min}")

List: [45, 22, 89, 10, 66]
Max: 89
Min: 10

**4. Count Products Above a Price Threshold**

In [4]:
def Prods_abv_thrshold(prices, threshold):
  count = 0
  for price in prices:
    if price > threshold:
      count += 1
  return count

prices = [450, 1200, 899, 1500, 300]
threshold = 1000
print(f"Prices above {threshold}: {Prods_abv_thrshold(prices, threshold)}")

Prices above 1000: 2

**5. Calculate Attendance Percentage**

In [5]:
def attendance_percent(attendance):
  present_count = 0
  for i in attendance:
    if i == 'P':
      present_count += 1

  attendance_percent = (present_count / len(attendance)) * 100
  return attendance_percent

attendance = ["P", "P", "A", "P", "P"]
print("Attendance Percentage:", attendance_percent(attendance))

Attendance Percentage: 80.0

**6. Remove Duplicate Phone Numbers**

In [6]:
def remove_duplicates(phone_numbers):
  unique_numbers = set(phone_numbers)
  return unique_numbers

phone_numbers = [9876543210, 9123456789, 9876543210]
print("Unique phone numbers:", remove_duplicates(phone_numbers))

Unique phone numbers: {9876543210, 9123456789}

**7. Count Character Frequency**

In [7]:
def char_feq(string):
  freq = {} # Initialize as an empty dictionary instance
  for char in string:
    if char in freq:
      freq[char] += 1
    else:
      freq[char] = 1 # Add character if not present
  return freq

string = "pythonp"
print(char_feq(string))

{'p': 2, 'y': 1, 't': 1, 'h': 1, 'o': 1, 'n': 1}

**8. Convert List to Tuple**

In [8]:
def list_to_tuple(list):
  tup = tuple(list)
  return tup

list = [10, 20, 30]
print(list_to_tuple(list))

(10, 20, 30)

**9. Check if a Key Exists in a Dictionary**

In [9]:
def key_in_dict(dict, key):
  if key in dict.keys():
    print(f"{key} exists")
  else:
    print(f"{key} does not exist")

dict = {"Employee": "Ravi", "Salary": 75000}
key = "Employee"
key_in_dict(dict, key)

Employee exists

**10. Calculate Average Marks**

In [10]:
def avg_marks(marks):
  return sum(marks) / len(marks)

marks = [85, 90, 78, 92, 88]
avg_marks(marks)

86.6